.home-section {
  padding: 100px;
  padding-inline: clamp(
    60px,
    calc(60px + (100 - 60) * ((100vw - 768px) / (1440 - 768))),
    100px
  );
  margin-top: 20px;
  background-image: url(../assets/images/img-hero.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 40px;
}

.home-content {
  display: flex;
  flex-direction: column;
  max-width: 530px;
  gap: 40px;
}

.home-heading {
  font-size: 4.5rem;
  font-weight: 600;
  line-height: 105%;
  letter-spacing: 0;
  color: var(--text-inverse);
}

.text-accent {
  font-style: italic;
  color: var(--text-accent);
}

.home-description {
  line-height: 150%;
  letter-spacing: 0;
  color: var(--text-inverse);
}

.home-link {
  line-height: 150%;
  font-weight: 600;
  color: var(--text-primary);
  padding: 1.25rem;
  background-color: var(--bgc-page);
  max-width: 160px;
  border-radius: 100px;
  text-align: center;
}

.home-link-text {
  position: relative;
}

.home-link-text::after {
  content: "";
  display: block;
  opacity: 0;
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  right: -8px;
  transform: translate(100%, -50%);
  background: url(../assets/images/icons/coffee-cup.svg) no-repeat center /
    cover;
  transition: opacity 0.3s;
}

/* Favorite section */

.favorite-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  .title-section {
    text-align: center;
  }
}

.title-section {
  font-size: 3.75rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: -0.3px;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.slide {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.slide-image {
  max-width: 480px;
}

.slider-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid var(--border-inverse);
  cursor: pointer;
  transition: background-color 0.3s;

  svg {
    stroke: var(--text-primary);
    transition: stroke 0.3s;
  }
}

.coffee-title,
.coffee-price {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 125%;
  letter-spacing: 0%;
}

.coffee-description,
.apps-descriptions {
  line-height: 150%;
  letter-spacing: 0;
}

.slide-description {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 480px;
  align-items: center;

  .coffee-description {
    text-align: center;
  }
}

.bullets-container {
  display: flex;
  gap: 15px;
}

.bullet {
  display: block;
  height: 4px;
  width: 40px;
  background-color: var(--border-primary);
  border-radius: 100px;

  &.active {
    background-color: var(--border-inverse);
  }
}

/* About section */

.about-section {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.about-gallery {
  display: flex;
  justify-content: space-between;
  gap: clamp(
    20px,
    calc(20px + (40 - 40) * ((100vw - 768px) / (1440 - 768))),
    40px
  );
}

.about-gallery-part {
  display: flex;
  flex-direction: column;
  gap: clamp(
    20px,
    calc(20px + (40 - 40) * ((100vw - 768px) / (1440 - 768))),
    40px
  );
}

.about-gallery-item {
  width: 100%;
  max-width: 660px;
  overflow: hidden;
  border-radius: 20px;

  img {
    width: 110%;
    height: 110%;
    object-fit: cover;
    object-position: center;
  }
}

.item-1,
.item-4 {
  aspect-ratio: 660 / 590;
}

.item-2,
.item-3 {
  aspect-ratio: 660 / 430;
}

/* Section Mobile app */

.section-apps {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.apps-content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 630px;
}

.apps-buttons {
  display: flex;
  gap: 20px;
}

.apps-button {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 12px 20px;
  gap: 13px;
  border: 1px solid var(--border-inverse);
  border-radius: 100px;
  max-width: 200px;
  width: 100%;
  transition: background-color 0.3s;
  cursor: pointer;

  svg {
    fill: var(--text-primary);
    transition: fill 0.3s;
  }
}

.apps-button-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 2px;
}

.apps-button-available {
  font-size: 0.625rem;
  font-weight: 600;
  line-height: 140%;
  letter-spacing: 0;
  color: var(--text-primary);
  transition: color 0.3s;
}

.apps-button-name {
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 0;
  color: var(--text-primary);
  transition: color 0.3s;
}

/* Media */

@media (hover: hover) and (pointer: fine) {
  .home-link:hover .home-link-text::after {
    opacity: 1;
  }

  .slider-button:hover {
    background-color: var(--border-inverse);

    svg {
      stroke: var(--text-inverse);
    }
  }

  .apps-button:hover {
    background-color: var(--bgc-container);

    .apps-button-available,
    .apps-button-name {
      color: var(--text-inverse);
    }
    svg {
      fill: var(--text-inverse);
    }
  }
}

@media (max-width: 768px) {
  .home-section {
    padding: clamp(
        60px,
        calc(60px + (100 - 60) * ((100vw - 380px) / (768 - 380))),
        100px
      )
      clamp(
        16px,
        calc(16px + (60 - 16) * ((100vw - 380px) / (768 - 380))),
        60px
      );
  }

  .home-heading {
    line-height: 115%;
    font-size: clamp(
      2.625rem,
      calc(2.625rem + (4.5 - 2.625) * ((100vw - 380px) / (768 - 380))),
      4.5rem
    );
  }

  .title-section {
    font-size: clamp(
      2rem,
      calc(2rem + (3.75 - 2) * ((100vw - 380px) / (768 - 380))),
      3.75rem
    );
  }

  .about-gallery {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  .item-2,
  .item-3 {
    display: none;
  }

  .item-1,
  .item-4 {
    height: 590px;
    aspect-ratio: auto;
  }

  .section-apps {
    flex-direction: column;
    gap: 100px;
  }
}

@media (max-width: 535px) {
  .slider-button {
    display: none;
  }
}

@media (max-width: 485px) {
  .apps-buttons {
    flex-direction: column;
  }
}
